@import '~bootstrap/scss/bootstrap';
body {
  background-color: #FFEEDB;
  margin: 5px;
  color: #2D3142;
}
#auth {
  input {
  color: #558C8C;
}
  h3 {
    color: #246A73;
  }
}
#content {
  input {
  color: #D77A61;
}
  h3 {
    color: #BA3B46;
  }
}
